@import "colors";

body{ 
    background: $white;
}

.jumbo-container{
       background-image: 
        linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
       url(https://images.unsplash.com/photo-1591040092219-081fb773589c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)


}

.cart-container{
    width: 500px;
    margin: auto;
}

    .cool2-container
    
    {height: 300px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 250px;
    padding-bottom: 0px;
    padding-right: 235px;
    padding-left: 235px;
    border-bottom-width: 100px;}
    
// .Buttons{
		 
// 			shape: "rect",
// 			color: "gold",
// 			layout: "vertical",
// 			label: "subscribe"
// 		};