@import "colors";

body{ 
    background: $white;
}

.container {
    height:100vh; 
}

//paolo says the above is bad practice-- shouldn't change default classes
//this was the only way I found to get footer properly placed but for the future should improve it


    .scrolling-wrapper {    overflow-x: scroll;    overflow-y: hidden;    white-space: nowrap;   }


.jumbo-container{
        border-radius: 0 !important;
       background-image: 
        linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
       url(https://images.unsplash.com/photo-1591040092219-081fb773589c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)


}

 .profilepuzzlepic{
     width: 300px;
     height: 200px;
 }

.cart-container{
    width: 400px;
    margin: auto;
}



    .cool2-container
    
    {height: 300px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 250px;
    padding-bottom: 0px;
    padding-right: 235px;
    padding-left: 235px;
    border-bottom-width: 100px;}

   
    .footer{
      background-color: $green;
      height: 60px;
      width: 100%;
    }
    // .footer {
    //     background-color: $green;
    //     height: 60px;
    // bottom: 0;
    // width: 100%;
    // // background-attachment: scroll;
    // // background-position: 0% 0%;
    // position: fixed;
    // margin-top: 25px;
    // // z-index: 100;
    // }

 h1, .test {font-family: 'Monoton', cursive;
    font-size: 70px;
    text-shadow: 2px 2px 4px #000000}

.mynavbar {
    margin-bottom: 15px;
    //padding-right: 15px;
}

.card-img-top {
    height: 15vw;
    object-fit: cover;
    margin: auto;
}

//.card-title{
    //height: 30px;
//}
// .Buttons{
		 
// 			shape: "rect",
// 			color: "gold",
// 			layout: "vertical",
// 			label: "subscribe"
// 		};

//.cardonly {
// height: 400px;
 //width: 200px;
//}

//.card-deck {
   // margin-bottom:100px;
//}

//.card-body{
    //height: 100px;
//}
