@import "colors";

/* 
    General Styles
*/
.login-form{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    height: 100%;
}

a {
    color:green;
}
a:visited {
  color: black;
}

