@import "colors";

/* 
    General Styles
*/
.login-form{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    height: 100%;
}

a,.nav-link {
    color: $green;
    &:visited { // a:visited
        color: black;
    }
    &:hover {
        color:black;
    }
}

.cart{
    width: 100%;
    max-width: 1000px;
    padding: 15px;
    margin: auto;
    height: 100%;
}